.contenedor-boton-staff {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(100, 100, 224);
    color: black;
}

.contenedor-boton-staff-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(224, 100, 100);
    color: black;


}

.contenedor-boton-personaje {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 20px;
    margin-left: 800px;
    height: 50px;
    width: 350px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(126, 126, 189);
    color: black;
}

.contenedor-boton-personaje-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 20px;
    margin-left: 800px;
    height: 50px;
    width: 350px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(224, 100, 100);
    color: black;


}

.contenedor-boton-hechizo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    margin: 18px auto;
    height: 40px;
    width: 120px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(77, 77, 83);
    color: black;
    margin-top: 10px;
}

.contenedor-boton-hechizo-fav {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
    margin: 18px auto;
    height: 50px;
    width: 150px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: rgb(224, 100, 100);
    color: black;
    margin-top: 20px;
}

.contenedor-boton-personaje {
    margin-bottom: 40px;
}