.card-hechizos{
   
    border: 3px solid black;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(196, 191, 187, 0.788);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    width: 610px;
    height:280px ;
margin-top: 30px;

    
}
.detalleHechizo{
font-size: 20px;
font-weight: 10px;
}
.detalleContenido{
    font-size: 20px;
    font-weight: 10px;
    text-wrap: wrap;
}

.tituloDeHechizos{
    margin-left: 50px;
    margin-bottom: 30px;
}
.detalleHechizoText{
    font-weight: 600;
}
