
.HechizoFavorito{
    margin-left: 40px;
    color: white;
    margin-bottom: 40px;
}

.PersonajeFavorito{
    margin-left: 40px;
    color: white;
    margin-bottom: 40px;
}
.staffFavorito{
    margin-left: 40px;
    color: white;
    margin-bottom: 40px;
}