.contenedor-Staff {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    width: 250px;
    height: 450px;
    padding: 2px;
    border-radius: 10px;
}

.scroll-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}

/* Personalización para navegadores WebKit */
.scroll-container::-webkit-scrollbar {
    height: 25px;
    /* Altura de la barra de desplazamiento horizontal */
}

.scroll-container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
    /* Color de fondo del track */
}

.scroll-container::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Color de la "thumb" o parte que se desplaza */
    border-radius: 3px;
    width: 50px;
    /* Bordes redondeados */
    border: 2px solid #f0f0f0;
    /* Espacio alrededor de la "thumb" */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Cambio de color al pasar el mouse */
}